In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("lending-club-loan-data/lending-club-loan-data/loan.csv", sep=",")

C:\Users\neroc\Anaconda3\envs\DataAnalysis\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(887379, 74)

In [5]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [7]:
df2 = df[["loan_amnt","loan_status","grade","int_rate","term"]]

In [8]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [9]:
df2.tail()

        loan_amnt loan_status grade  int_rate        term
887374    10000.0     Current     B     11.99   36 months
887375    24000.0     Current     B     11.99   36 months
887376    13000.0     Current     D     15.99   60 months
887377    12000.0     Current     E     19.99   60 months
887378    20000.0     Current     B     11.99   36 months

In [10]:
df2["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [11]:
df2["grade"].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [12]:
df2["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [13]:
df2.shape

(887379, 5)

In [14]:
df2 = df2.dropna(how="any")

In [15]:
df2.shape

(887379, 5)

In [16]:
term_to_loan_amnt_dict = {}
uniq_terms = df2["term"].unique()

In [17]:
for term in uniq_terms:
    loan_amnt_sum = df2.loc[df2["term"] == term, "loan_amnt"].sum()
    term_to_loan_amnt_dict[term] = loan_amnt_sum

In [18]:
term_to_loan_amnt_dict

{' 36 months': 7752507375.0, ' 60 months': 5341004575.0}

In [19]:
term_to_loan_amnt_dict = pd.Series(term_to_loan_amnt_dict)

In [20]:
term_to_loan_amnt_dict

 36 months    7.752507e+09
 60 months    5.341005e+09
dtype: float64

In [21]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [22]:
total_status_category = df2["loan_status"].unique()
bad_status_category = total_status_category[[1,3,4,5,6,8]]

In [23]:
bad_status_category

array(['Charged Off', 'Default', 'Late (31-120 days)', 'In Grace Period',
       'Late (16-30 days)',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [24]:
df2["bad_loan_status"] = df2["loan_status"].isin(bad_status_category)

In [25]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term  bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months            False
1     2500.0  Charged Off     C     15.27   60 months             True
2     2400.0   Fully Paid     C     15.96   36 months            False
3    10000.0   Fully Paid     C     13.49   36 months            False
4     3000.0      Current     B     12.69   60 months            False

In [26]:
bad_loan_status_to_grades = df2.loc[df2["bad_loan_status"] == True, "grade"].value_counts()

In [28]:
bad_loan_status_to_grades

C    19054
D    15859
B    13456
E     9745
F     4383
A     3663
G     1269
Name: grade, dtype: int64

In [29]:
bad_loan_status_to_grades.sort_index()

A     3663
B    13456
C    19054
D    15859
E     9745
F     4383
G     1269
Name: grade, dtype: int64

In [31]:
good_loan_status_to_grades = df2.loc[df2["bad_loan_status"] == False, "grade"].value_counts()

In [32]:
good_loan_status_to_grades

B    241079
C    226806
A    144539
D    123683
E     60960
F     18663
G      4220
Name: grade, dtype: int64

In [33]:
good_loan_status_to_grades.sort_index()

A    144539
B    241079
C    226806
D    123683
E     60960
F     18663
G      4220
Name: grade, dtype: int64

In [34]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term  bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months            False
1     2500.0  Charged Off     C     15.27   60 months             True
2     2400.0   Fully Paid     C     15.96   36 months            False
3    10000.0   Fully Paid     C     13.49   36 months            False
4     3000.0      Current     B     12.69   60 months            False

In [35]:
df2["loan_amnt"].corr(df2["int_rate"])

0.14502309929883955

In [38]:
bad_loan_status_to_grades.to_csv("bad_loan_status.csv", sep=",")